<div class="row">
    <div class="col-md-4" *ngFor="let product of wishlist">
        <app-product-item [productItem]="product"></app-product-item>
    </div>
</div>

<div class="row" style="margin-top: 50px;margin-bottom: 50px;" *ngIf="empty">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header">
                <h4>Empty</h4>
            </div>
            <div class="card-body">
                <p>Oops! votre liste des souhaits est vide il semble que vous n'aime aucun maison</p>
                <p><a routerLink="/shop">Go Back To Home</a></p>
            </div>
        </div>
    </div>
</div>