.body{
    width: 400px;
    height: 800px;
    background-position: center center;
    background: url(../../../assets/ben-o-bro-wpU4veNGnHg-unsplash.jpg);
        background-size: cover;
}

/*background: url(https://wallpaper.wiki/wp-content/uploads/2017/05/wallpaper.wiki-Beautiful-Full-HD-Wallpaper-Download-Free-PIC-WPE0010098.jpg) no-repeat ;
*/

.la{
  text-align: center;
  
}


h3{
  color:black;

}
h1{
 border-radius: tomato;
 text-align: center;
  

}

.bt{
  color:white;
  background-color: rgb(119, 27, 206);
  border-radius: 100%;
}
.nav-link{
  color:white;
}

.nav-link:hover{
  color: mediumorchid;
  text-decoration: underline;

}

.welcome-text{
  color: sienna;
  margin-top: 50px;
  font-size: 60px;
}