<div class="cover-container d-flex w-100  p-3 mx-auto flex-column body">
    <header class="mb-auto">
      <div>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          
          <a class="nav-link" routerLink="contactus">Contact</a>
        </nav>
      </div>
    </header>
  
    <main class="px-3">
      
    
      <h1 ><a href="https://www.bloggif.com/" title="Montage photo"><img src="https://data.bloggif.com/distant/user/store/b/2/7/6/6ab67bba49671056da5f0dc16427672b.gif" alt="Montage créé avec bloggif" width="168" height="300" /></a></h1>
      
      <p class="la">
        <button class="bt" [routerLink]="['/register']"  >ajouter maison</button><br>
        <br>
        <button [routerLink]="['/register']" class="bt" >chercher une maison</button>
      </p>
    </main>
  
  
  </div>