<div class="cover-container d-flex w-100  p-3 mx-auto flex-column body">
    <header class="mb-auto">
      <div>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          
          <a class="nav-link" routerLink="/contactus">Contact</a>
        </nav>
      </div>
    </header>
  
    
      
    
      
              <div class="welcome-text">
                <h1>
        Find Your <span>Home</span></h1>
        <a href="sginin.html">START</a> 
            </div>
    
  
  
  </div>