.body{
    width: 100%;
    height: 500px;
    background: url(https://wallpaper.wiki/wp-content/uploads/2017/05/wallpaper.wiki-Beautiful-Full-HD-Wallpaper-Download-Free-PIC-WPE0010098.jpg) no-repeat ;
    background-size: cover;
}

.la{
  text-align: center;
  
}

h3{
  color: chocolate;

}
h1{
 border-radius: tomato;
 text-align: center;
  

}

.bt{
  color:white;
  background-color: rgb(119, 27, 206);
  border-radius: 100%;
}
.nav-link{
  color:white;
}

.nav-link:hover{
  color: mediumorchid;
  text-decoration: underline;

}

.welcome-text{
  color: sienna;
  margin-top: 50px;
}