  <!-- Site footer -->
  <footer class="site-footer" style="position: relative;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h6>About</h6>
          <p class="text-justify center text-center">
              this site is designd for student to help them find home to rent 
        </p>
        </div>

       

       
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
       <a href="#">ENISO</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="bi bi-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="bi bi-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="bi bi-instagram"></i></a></li>
            <li><a class="linkedin" href="#"><i class="bi bi-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>