/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';



.cart-item{
    font-size: small;
}

.filter{
    font-size: small;
}

.card, .form-control, .btn{
    border-radius: 0;
}

.list-group-item:first-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.total{
    font-size: small;
}

.product-btn{
    font-size: smaller;
}

.fa-heart{
    color: palevioletred;
    cursor: pointer;
}

.guest-form-card h2{
    text-transform: uppercase;
    font-size: medium;
}

.guest-form-card label{
    font-size: small;
}

.btn-primary.disabled, .btn-primary:disabled{
    cursor: not-allowed;
    background-color: gray;
    border-color: black;
}

.product_view .modal-dialog{
    max-width: 800px; width: 100%;
}
.pre-cost{
    text-decoration: line-through; color: #a5a5a5;
}
.space-ten{
    padding: 10px 0;
}

section#contact {
    background-color: #212529;
    background-image: url("./assets/map-image.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  section#contact .section-heading {
    color: #fff;
  }
  section#contact form#contactForm .form-group {
    margin-bottom: 1.5rem;
  }
  section#contact form#contactForm .form-group input,
  section#contact form#contactForm .form-group textarea {
    padding: 1.25rem;
  }
  section#contact form#contactForm .form-group input.form-control {
    height: auto;
  }
  section#contact form#contactForm .form-group-textarea {
    height: 100%;
  }
  section#contact form#contactForm .form-group-textarea textarea {
    height: 100%;
    min-height: 10rem;
  }
  section#contact form#contactForm p.help-block {
    margin: 0;
  }
  section#contact form#contactForm .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
  }
  section#contact form#contactForm ::-webkit-input-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
  }
  section#contact form#contactForm :-moz-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
  }
  section#contact form#contactForm ::-moz-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
  }
  section#contact form#contactForm :-ms-input-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
  }
  #condition{
    font-size: 9px;
  }
  #link{
    font-size: small;
  }
  #profile{
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 0;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;

  }
  #clearcart{
    color: red;
  }
  #clearcart:hover{
    color: white;
   
  }
 